@page "/"
@page "/render"
@using BenVoxel
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor.Utilities
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Gif
@using SixLabors.ImageSharp.Formats.Png
@using System.Text.Json
@using System.Text.Json.Nodes
@using Voxel2Pixel
@using Voxel2Pixel.Color
@using Voxel2Pixel.Draw
@using Voxel2Pixel.Interfaces
@using Voxel2Pixel.Model
@using Voxel2Pixel.Model.FileFormats
@using Voxel2Pixel.Render
@using Voxel2Pixel.Web.Components
@inject ISnackbar Snackbar

<PageTitle>Voxel2Pixel</PageTitle>

@code {
	#region Data
	public bool IsLoading { get; set; } = false;
	public IModel? Model { get; set; } = null;
	public uint[]? Palette { get; set; } = null;
	public string ImageString { get; set; } = string.Empty;
	private string? _exceptionMessage = null;
	public string? ExceptionMessage
	{
		get => _exceptionMessage;
		set
		{
			_exceptionMessage = value;
			StateHasChanged();
		}
	}
	public void Throw(Exception ex) => ExceptionMessage = ex.GetType().Name + ": \"" + ex.Message + "\"" + Environment.NewLine + ex.StackTrace;
	public SpriteMaker SpriteMaker { get; set; } = new();
	public MudColor OutlineMudColor
	{
		get => MudColor(SpriteMaker.OutlineColor);
		set => SpriteMaker.SetOutlineColor(Color(value));
	}
	public MudColor ShadowMudColor
	{
		get => shadowMudColor;
		set => SpriteMaker.SetShadowColor(Color(shadowMudColor = value));
	}
	private MudColor shadowMudColor = MudColor(Sprite.DefaultShadowColor);
	#endregion Data
	public static uint Color(MudColor color) => (uint)(color.R << 24 | color.G << 16 | color.B << 8 | color.A);
	public static MudColor MudColor(uint rgba) => new MudColor(
		r: (byte)(rgba >> 24),
		g: (byte)(rgba >> 16),
		b: (byte)(rgba >> 8),
		a: (byte)rgba);
	private async void LoadFile(IBrowserFile file)
	{
		IsLoading = true;
		try
		{
			using MemoryStream memoryStream = new();
			await file.OpenReadStream().CopyToAsync(memoryStream);
			memoryStream.Position = 0;
			switch (Path.GetExtension(file.Name).ToLowerInvariant())
			{
				case ".vox":
					Voxel2Pixel.Model.FileFormats.VoxFileModel voxFileModel = new(memoryStream);
					Model = voxFileModel;
					Palette = voxFileModel.Palette;
					break;
				case ".json":
					BenVoxelFile benVoxelFile = JsonSerializer.Deserialize<BenVoxelFile>(memoryStream)
						?? throw new NullReferenceException();
					Model = benVoxelFile.Default(out uint[] palette);
					Palette = palette ?? throw new NullReferenceException("Missing palette!");
					break;
				default:
					benVoxelFile = new(memoryStream);
					Model = benVoxelFile.Default(out palette);
					Palette = palette ?? throw new NullReferenceException("Missing palette!");
					break;
			}
			SingleImage();
		}
		catch (Exception ex)
		{
			Throw(ex);
		}
		IsLoading = false;
		StateHasChanged();
	}
	public void SingleImage()
	{
		if (Model is null) return;
		ImageString = SpriteMaker
			.Set(Model)
			.Set(new NaiveDimmer(Palette))
			.Make()
			.Png()
			.ToBase64String(PngFormat.Instance);
	}
	public void Iso8TextureAtlas()
	{
		if (Model is null) return;
		Dictionary<string, Sprite> sprites = [];
		byte direction = 0;
		foreach (SpriteMaker spriteMaker in new SpriteMaker(SpriteMaker)
			.Set(Model)
			.Set(new NaiveDimmer(Palette))
			.Iso8())
			sprites.Add("Sprite" + direction++, spriteMaker.Make());
		ImageString = new Sprite(sprites, out _)
			.Png()
			.ToBase64String(PngFormat.Instance);
	}
	public void Iso8Gif()
	{
		if (Model is null) return;
		ImageString = SpriteMaker
			.Set(Model)
			.Set(new NaiveDimmer(Palette))
			.Iso8()
			.Make()
			.AnimatedGif()
			.ToBase64String(GifFormat.Instance);
	}
	public void StacksGif()
	{
		if (Model is null) return;
		ImageString = SpriteMaker
			.Set(Model)
			.Set(new NaiveDimmer(Palette))
			.Stacks(true)
			.Make()
			.AnimatedGif(25)
			.ToBase64String(GifFormat.Instance);
	}
}
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
	<MudTabPanel Text="Import">
		<MudFileUpload T="IBrowserFile" FilesChanged="LoadFile" Accept=".vox,.ben,.json">
			<ActivatorContent>
				<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" StartIcon="@Icons.Material.Filled.UploadFile">
					Load Voxel Model File
				</MudButton>
			</ActivatorContent>
		</MudFileUpload>
		<p>Supported file formats include BenVoxel and <MudLink Href="https://ephtracy.github.io/" Target="_blank">MagicaVoxel</MudLink>.</p>
	</MudTabPanel>
	<MudTabPanel Text="Perspective">
		<MudSelect T="Perspective" @bind-Value="@SpriteMaker.Perspective" Class="flex-grow-0">
			@foreach (Perspective perspective in Enum.GetValues(typeof(Perspective)))
			{
				<MudSelectItem Value="@perspective" />
			}
		</MudSelect>
		<MudElement Class="d-inline-flex flex-wrap gap-2">
			<MudNumericField T="byte" @bind-Value="SpriteMaker.ScaleX" Label="Internal Scale X" Variant="Variant.Text" Min="1" Max="255" />
			<MudNumericField T="byte" @bind-Value="SpriteMaker.ScaleY" Label="Internal Scale Y" Variant="Variant.Text" Min="1" Max="255" />
			@if (SpriteMaker.Perspective.HasScaleZ())
			{
				<MudNumericField T="byte" @bind-Value="SpriteMaker.ScaleZ" Label="Internal Scale Z" Variant="Variant.Text" Min="1" Max="255" />
			}
		</MudElement>
		@if (SpriteMaker.Perspective.HasShadow())
		{
			<MudElement Class="d-inline-flex flex-wrap gap-2">
				<MudCheckBox @bind-Value="@SpriteMaker.Shadow" Label="Shadow" />
				@if (SpriteMaker.Shadow)
				{
					<MudColorPicker @bind-Value="ShadowMudColor" Label="Shadow Color" Style=@($"color: {ShadowMudColor.ToString()};") />
				}
			</MudElement>
		}
		@if (SpriteMaker.Perspective == Perspective.Stacked || SpriteMaker.Perspective == Perspective.StackedPeak)
		{
			<MudSlider @bind-Value="@SpriteMaker.Radians" Min="0d" Max="@Math.Tau" Step="double.Epsilon">Radians</MudSlider>
		}
	</MudTabPanel>
	<MudTabPanel Text="Orientation">
		<MudElement Class="d-inline-flex flex-wrap gap-2">
			<MudCheckBox @bind-Value="@SpriteMaker.FlipX" Label="Flip X" />
			<MudCheckBox @bind-Value="@SpriteMaker.FlipY" Label="Flip Y" />
			<MudCheckBox @bind-Value="@SpriteMaker.FlipZ" Label="Flip Z" />
		</MudElement>
		<br />
		<CuboidOrientationInput @bind-Value="@SpriteMaker.CuboidOrientation" />
	</MudTabPanel>
	<MudTabPanel Text="Post-Processing">
		<MudElement Class="d-inline-flex flex-wrap gap-2">
			<MudCheckBox @bind-Value="@SpriteMaker.Outline" Label="Outline" />
			@if (SpriteMaker.Outline)
			{
				<MudColorPicker @bind-Value="OutlineMudColor" Label="Outline Color" Style=@($"color: {OutlineMudColor.ToString()};") />
			}
		</MudElement>
		<br />
		<MudElement Class="d-inline-flex flex-wrap gap-2">
			<MudNumericField T="byte" @bind-Value="SpriteMaker.FinalScaleX" Label="Final (after outline) Scale X" Variant="Variant.Text" Min="1" Max="255" />
			<MudNumericField T="byte" @bind-Value="SpriteMaker.FinalScaleY" Label="Final (after outline) Scale Y" Variant="Variant.Text" Min="1" Max="255" />
		</MudElement>
	</MudTabPanel>
	<MudTabPanel Text="Export" Disabled="Model is null">
		<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" name="SingleImage" @onclick="SingleImage">Generate Single Image</MudButton>
		<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" name="Iso8TextureAtlas" @onclick="Iso8TextureAtlas">Generate 8 Isometric Directional Sprites Texture Atlas</MudButton>
		<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" name="Iso8" @onclick="Iso8Gif">Generate 8 Isometric Directional Sprites Animation</MudButton>
		<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" name="Iso8" @onclick="StacksGif">Generate Sprite Stacks Animation</MudButton>
	</MudTabPanel>
</MudTabs>
@if (!string.IsNullOrWhiteSpace(ImageString))
{
	<img src="@ImageString" />
	<br />
}
@if (!string.IsNullOrWhiteSpace(ExceptionMessage?.ToString()))
{
	<br />
	<MudTextField T="string" Value=@ExceptionMessage Label="Exception" Variant="Variant.Outlined" Lines="10" ReadOnly="true" Style="font-family: monospace; white-space: pre;" />
}
@if (IsLoading)
{
	<br />
	<div>Loading...</div>
}
<p><b>WARNING:</b> This web front-end is going to be really slow & unresponsive for larger models until someday when <MudLink Href="https://github.com/dotnet/aspnetcore/issues/17730" target="_blank">Blazor WASM gets real multithreading</MudLink>. Running on desktop is far faster or you can just have patience for now.</p>
