@using Voxel2Pixel.Model
@code {
	public CuboidOrientation cuboidOrientation { get; set; } = CuboidOrientation.SOUTH0;
}
<InputSelect class="form-select" @bind-Value="cuboidOrientation">
	@foreach (CuboidOrientation option in CuboidOrientation.Values)
	{
		<option value="@option">@option.ToString()</option>
	}
</InputSelect>
<button name="ClockX" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.ClockX))">X&#x27F3;</button>
<button name="ClockY" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.ClockY))">Y&#x27F3;</button>
<button name="ClockZ" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.ClockZ))">Z&#x27F3;</button>
<button name="CounterX" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.CounterX))">X&#x27F2;</button>
<button name="CounterY" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.CounterY))">Y&#x27F2;</button>
<button name="CounterZ" @onclick="@(e => cuboidOrientation = (CuboidOrientation)cuboidOrientation.Turn(Turn.CounterZ))">Z&#x27F2;</button>
<button name="Reset" @onclick="@(e => cuboidOrientation = CuboidOrientation.SOUTH0)">Reset</button>
